@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Space+Grotesk:wght@700&family=Sunflower:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.container{
    width: 800px;
    height: 350px;
    display: flex;
    margin: 50px 200px;
}

.container .sec-1,.container .sec-2{
    width: 400px;
    height: 350px;
    background-color: #109FEE;
}

.container .sec-2{
    background-color: #FFFFFF;
}

.container .sec-1 .head{
    width: 160px;
    padding: 70px;
    padding-bottom: 0;
    line-height: 25px;
}

.container .sec-1 h3{
    font-family: 'Sunflower', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
} 

.container .sec-1 .para{
    width: 160px;
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 0;
}

.container .sec-1 p{
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    color: white;
}

.info{
    display: flex;
}

.icon{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FFFFFF;
    color: #4BBCF2;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 10px;
}

.icon i{
    padding: 5px;
}

.info .text{
    margin-top: 30px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.sec-2  .main{
   margin-top: 50px;
}

.sec-2 .main .info .icon{
       background-color: #4BBCF2;
       color: #FFFFFF;
}

.sec-2 .main .info .icon{
    width: 45px;
    height: 25px;
    margin-top: 40px;
    margin-left: 40px;
}

.sec-2 .icon i{
    padding: 8px;
}

.info .text p{
    font-size: 10px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .sec-1,.sec-2 {
      width: 50%;
    }

    .container{
        display: inline-block;
    }

  }