@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto&family=Staatliches&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Nav-bar{
    display: flex;
    padding: 50px 0 50px 200px;
    /* background-color: rgb(146, 193, 235); */
}

.Nav-bar img{
    margin-right: 0.5rem;
}

.Nav-bar h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
    margin-top: 0.5rem;
}

.Search-bar{
    display: flex;
    padding: 1rem;
    background-color: #E1E8F0;
    color: #AEB3C3;
    margin-left: 10rem;
    border-radius: 0.5rem;
}

.Search-bar i{
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}

.Search-bar h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
    margin-top: -0.2rem;
}
