@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
}

.nav{
  height: 100px;
  width: 100%;
  background-color: #159A9C;
}

.nav .navi{
    float: right;
    margin-right: 150px;
    margin-top: 40px;
}

.nav i{
    margin-left: 150px;
    margin-top: 15px;
}

.nav .navi ul{
    display: flex;
    list-style: none;
}

.nav .navi ul li{
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.nav .navi ul li:hover{
    cursor: pointer;
    color: blueviolet;
    font-weight: bold;
}

.main-container{
    display: flex;
}

.main-container .sec-1{
    height: 900px;
    width: 990px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: aquamarine;
}

.main-container .sec-2{
    height: 940px;
    width: 350px;
    margin-left: 10px;
    background-color: aquamarine;
}

.image{
   margin-left: 100px;
   margin-top: 30px;
}

.image p{
    padding-left: 150px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.main-container .sec-1 .Information{
    margin-left: 100px;
    margin-top: 30px;
}

.main-container .sec-1 .Information .info{
    display: flex;
}

.info .date,.info .event{
    width: 100px;
    height: 30px;
    background-color: gray;
    margin-top: 10px;
}

.info .event{
    width: 600px;
    background-color: #002333;
}