@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;700&family=Roboto&family=Staatliches&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B4BEC9;
}

.nav{
  height: 100px;
  width: 100%;
  background-color: #159A9C;
}

.nav .navi{
    float: right;
    margin-right: 150px;
    margin-top: 40px;
}

.nav i{
    margin-left: 150px;
    margin-top: 15px;
}

.nav .navi ul{
    display: flex;
    list-style: none;
}

.nav .navi ul li{
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.nav .navi ul li:hover{
    cursor: pointer;
    color: blueviolet;
    font-weight: bold;
    font-size: 18px;
}

.main-container{
    display: flex;
}

.main-container .sec-1{
    height: 900px;
    width: 990px;
    margin-top: 20px;
    margin-left: 50px;
    /* background-color: aquamarine; */
}

.main-container .sec-2{
    height: 940px;
    width: 350px;
    margin-left: 10px;
    background-color: #DEEFE7;
}

.image{
   margin-left: 100px;
   margin-top: 30px;
}

.image p{
    padding-left: 150px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.main-container .sec-1 .Information{
    margin-left: 100px;
    margin-top: 30px;
}

.main-container .sec-1 .Information .info{
    display: flex;
}

.info .date,.info .event{
    width: 150px;
    height: 40px;
    background-color: gray;
    margin-top: 10px;
    text-align: center;
}

.info .event{
    width: 600px;
    background-color: #002333;
}

.date h3 , .event h3{
    padding-top: 10px;
    color: white;
}

.quote{
    width: 400px;
    height: 80px;
    margin-top: 70px;
    margin-left: 250px;
    border: 4px solid #002333;
    padding: 20px;
    border-radius: 10px;
}

.quote h4{
    color: #159A9C;
    font-family: 'Ubuntu', sans-serif;
}

.sec-2 .img{
    margin-top: 50px;
}

.personal-info{
    margin-top: 20px;
}

.personal-info .info{
    display: flex;
}

.personal-info .info .label,.personal-info .info .label-2{
    padding: 12px;
    font-family: 'Kanit', sans-serif;
}

.personal-info .info .label-2{
    padding-top: 14px;
}