@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@700&family=Sunflower:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.container{
    width: 800px;
    height: 350px;
    display: flex;
    margin: 50px 200px;
}

.container .nav{
    visibility: hidden; 
}

.container .sec-1,.container .sec-2{
    width: 400px;
    height: 350px;
    background-color: #109FEE;
}

.container .sec-2{
    background-color: #FFFFFF;
}

.container .sec-1 .head{
    width: 160px;
    padding: 70px;
    padding-bottom: 0;
    line-height: 25px;
}

.container .sec-1 h3{
    font-family: 'Sunflower', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
} 

.container .sec-1 .para{
    width: 160px;
    padding: 10px 70px 0 70px;
}

.container .sec-1 p{
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    color: white;
}

.info{
    display: flex;
}

.icon{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FFFFFF;
    color: #4BBCF2;
    margin: 30px 0 0 70px;
    font-size: 10px;
}

.icon i{
    padding: 5px;
}

.info .text{
    margin-top: 30px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.sec-2  .main{
   padding-top: 50px;
}

.sec-2 .main .info .icon{
       background-color: #4BBCF2;
       color: #FFFFFF;
}

.sec-2 .main .info .icon{
    width: 45px;
    height: 25px;
    margin: 40px 0 0 40px;
}

.sec-2 .icon i{
    padding: 8px;
}

.info .text p{
    font-size: 10px;
    padding: 5px 5px 0 0;
    font-family: 'Poppins', sans-serif;
}



@media only screen and (max-width: 620px) {
    /* For mobile phones: */
 
    .container{
        width: 200px;
        height: 620px;
        margin: 50px;
        flex-direction: column;
        background-color: #FFFFFF;
    }
     
    .container .nav{
        visibility: visible; 
        display: inline;
        padding: 15px;
        padding-top: 20px; 
    }

    .container .nav h4{
        display: inline;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    .container .nav i{
        float: right;
        padding-top: 5px;
        color: #4BBCF2;
    }

    .container .sec-1,.container .sec-2{
        width: 200px;
        height: 620px;
        background-color: #109FEE;
        border-radius: 5px;
    }

    .container .sec-1{
        height: 400px;
    }
    
    .container .sec-2{
        background-color: #FFFFFF;
    }

    .container .sec-1 .head{
        width: 170px;
        padding: 15px;
        padding-bottom: 0;
        line-height: 25px;
    }

    .icon{
        margin-left: 15px;
        margin-top: 10px;
    }

    .container .sec-1 .para{
        width: 100px;
        padding: 15px 15px 10px 15px;
    }

    .container .sec-1 p{
        font-size: 6px;
        line-height: 8px;
    }

    .info .text{
        margin-top: 10px;
        margin-left: 5px;
        font-family: 'Poppins', sans-serif;
    }

    .sec-2 .main{
        padding-top: 10px;
    }

    .sec-2 .main .info{
        margin-top: 15px;
    }
     
    .sec-2 .main .info .icon{
        width: 45px;
        height: 25px;
        margin: 40px 10px 0 10px;
    }

  }