@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Playfair+Display:wght@500;600&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto&family=Staatliches&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Nav-bar{
    display: flex;
    padding: 50px 0 50px 200px;
    /* background-color: rgb(146, 193, 235); */
}

.Nav-bar img{
    margin-right: 0.5rem;
}

.Nav-bar h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
    margin-top: 0.5rem;
}

.Nav-bar .Search-bar{
    display: flex;
    padding: 1rem;
    background-color: #E1E8F0;
    color: #AEB3C3;
    margin-left: 10rem;
    border-radius: 0.5rem;
}

.Search-bar i{
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}

.Search-bar h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
    margin-top: -0.2rem;
}

.nav ul{
    list-style: none;
    display: flex;
    margin-left: 10rem;
    margin-top: 1rem;
}

.nav ul li{
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #7287A4;
}


.Container{
    width: 96%;
    height: 50rem;
    background-color: #F6F7F7;
    margin-left: 2%;
}

.Container .boxes{
    display: flex;
    padding-left: 10rem;
    padding-top: 5rem;
}

.Container .boxes .box{
     width: 15rem;
     height: 6rem;
     background-color: #FFFFFF;
     margin: 1rem;
     border-radius: 1rem;
}

.box img{
    margin: 1rem 0 0 6.5rem;
}

.box h4{
    text-align: center;
    margin-top: 5px;
    color: #B6BAC4;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.Container .info{
    display: flex;
}

.Container .info .head{
   margin: 5rem 0 0 11rem;
}

.Container .info .head h6{
    padding: 5px;
    background-color: #BEE2F8;
    display: inline;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}

.Container .info .head h2{
    margin-top: 1rem;
    font-size: 3.1rem;
    width: 38rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #373F50;
}

.Container .info p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 38rem;
    color: #95A1B2;
    margin-top: 2rem;
}

.Container .info .img-sec{
    margin: 2rem 0 0 3rem;
    height: 400px;
    width: 300px;  
}

.Container .info .img-sec img{
    border-radius: 50px;
    border-top-left-radius: 0;
}

.Container .info .circle {
    display: flex;
    margin-top: 50px;
}

.Container .info .circle .cir{
     width: 10px;
     height: 10px;
     background-color: #373F50;
     border-radius: 50%;
     margin-left: 20px;
}
