@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Playfair+Display:wght@500;600&family=Libre+Baskerville:wght@400;700&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto&family=Staatliches&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Nav-bar{
    display: flex;
    padding: 50px 0 50px 200px;
    /* background-color: rgb(146, 193, 235); */
}

.Nav-bar img{
    margin-right: 0.5rem;
}

.Nav-bar h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;  
    margin-top: 0.5rem;
}

.Nav-bar .Search-bar{
    display: flex;
    padding: 1rem;
    background-color: #E1E8F0;
    color: #AEB3C3;
    margin-left: 10rem;
    border-radius: 0.5rem;
}

.Search-bar i{
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}

.Search-bar h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300; 
    margin-top: -0.2rem;
}

.nav ul{
    list-style: none;
    display: flex;
    margin-left: 10rem;
    margin-top: 1rem;
}

.nav ul li{
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #7287A4;
}

.Container,.Block{
    width: 96%;
    height: 60rem;
    background-color: #F6F7F7;
    margin-left: 2%;
}

.Block{
    height: 80rem;
}

.Container .boxes{
    display: flex;
    padding-left: 10rem;
    padding-top: 5rem;
}

.Container .boxes .box{
     width: 15rem;
     height: 6rem;
     background-color: #FFFFFF;
     margin: 1rem;
     border-radius: 1rem;
}

.box img{
    margin: 1rem 0 0 6.5rem;
}

.box h4{
    text-align: center;
    margin-top: 5px;
    color: #B6BAC4;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.Container .info{
    display: flex;
}

.Container .info .head{
   margin: 5rem 0 0 11rem;
}

.Container .info .head h6{
    padding: 5px;
    background-color: #BEE2F8;
    display: inline;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
}

.Container .info .head h2{
    margin-top: 1rem;
    font-size: 3.1rem;
    width: 38rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #373F50;
}

.Container .info p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 38rem;
    color: #95A1B2;
    margin-top: 2rem;
}

.Container .info .img-sec{
    margin: 2rem 0 0 3rem;
    height: 400px;
    width: 300px;  
}

.Container .info .img-sec img{
    border-radius: 50px;
    border-top-left-radius: 0;
}

.Container .info .circle {
    display: flex;
    margin-top: 50px;
}

.Container .info .circle .cir{
     width: 10px;
     height: 10px;
     background-color: #373F50;
     border-radius: 50%;
     margin-left: 20px;
}

.images{
    margin: 5rem 0 5rem 11rem;
    display: flex;
}

.images .image-box{
    display: flex;
    width: 320px;
    height: 180px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-left-color: #A3BFF9;
    border-left-width: 5px;
    border-left-style: solid;
}

.images .image-box h3{
    margin: 10px;
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: 700;
}

.images .image-box img{
    margin: 10px;
    margin-right: 0;
    border-radius: 5px;
}

.name-date,.date-time,.time{
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.name-date h5,.cir-2 .name{
   font-size: 10px;
   margin: 10px;
   margin-right: 5px;
   color: #616974;
}

.name-date h6,.date-time h6,.name h5,.time h6{
    font-size: 8px;
    font-weight: 500;
    margin: 11px 5px 11px 5px;
    color: #8f9aab;
}

.date-time h6,.time h6{
    margin-left: 10px;
    font-size: 10px;
}

.name-date i,.date-time i,.time i{
    margin-top: 12px;
    font-size: 8px;
    color: #8f9aab;
}

.date-time i,.time i{
    font-size: 10px;
}

#con-2 h3{
   margin-top: 40px; 
}

#Con-3 h3{
    width: 180px;
}

.Block{
    background-color: #F8F8F8;
}

.Block .h3,.WhatsNew .h3{
    padding: 2rem 0 0 12rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #2d3748;
}

.Block .Rectangle{
    display: flex;
    margin-left: 10rem;
    margin-top: 2rem;
}

.Block .Rect{
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    margin-left: 2%;
    border-radius: 10px;
}

.Rect .Rect-Head,.cir-2{
    margin-top: 30px;
}

.Rect .Rect-Head h4,.B-Head h4{
    display: inline;
    padding: 8px;
    background-color: #C7F6D6;
    border-radius: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    margin-left: 20px;
}

.Rect h3{
    margin-top: 20px;
    width: 250px;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    color: #2d3748;
}

.Rect p{
    margin-top: 15px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8f9aab;
}

#Rect-Head3 h4,.B-Head h4{
    background-color: #fefcbf;
}

.Rect .img-circle,.Rect .img-user{
    height: 40px;
    width: 40px;
    margin: 30px 0 0 20px; 
}

.Rect .img-user{
    margin: 0;
    margin-left: -40px;
    border-radius: 50px;
}

.circular{
    display: flex;
}

.cir-2 .name h5{
   font-size: 12px;
   margin-top: -5px;
}

.name{
  margin-bottom: 0;
}

.cir-2 .time{
    margin-top: -15px;
    margin-left: 5px;
}

.WhatsNew .Big{
    display: flex;
}

.Big .BigBlock{
    width: 350px;
    height: 500px;
    /* background-color: #373F50; */
    margin: 50px 0 10px 10px;
}

.Big .bigb1{
    margin-left: 12rem;
}

.BigBlock .B1{
  height: 240px;
  margin-top: 10px;
  background-color: #A3BFF9;
}

.B-Head{
    padding-top: 20px;
}

.BigBlock .B1{
    background: url(../Images/_Astronaut.jpg);
    background-size: cover;
    background-position: 100%;
    border-radius: 10px;
}

.BigBlock .b1{
    background: url(../Images/Nasa.webp);
    background-position: 100%;
    background-size: cover;
}

.b1 .B-Head h4{
    background-color: #bee3f8;
}

