@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;700&family=Roboto&family=Staatliches&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B4BEC9;
    background: url("../Images/Beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
  height: 100px;
  width: 100%;
  position: sticky;
}

.nav .navi{
    float: right;
    margin-right: 150px;
    margin-top: 40px;
}

.nav .navi ul{
    display: flex;
    list-style: none;
}

.nav .navi ul li{
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.nav .navi ul li:hover{
    cursor: pointer;
    color: blueviolet;
    font-weight: bold;
    font-size: 18px;
}

.sec-2{
    width: 100%;
    height: 500px;
}

.sec-2 h2{
    text-align: center;
    padding-top: 50px;
    font-family: 'Fredoka', sans-serif;
    word-spacing: 2px;
}

.sec-2 p{
    text-align: center;
    padding-top: 20px;
}

.sec-2 .btn{
   width: 170px;
   height: 45px;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   border-radius: 20px;
   border: none;
   background-color: skyblue;
   margin-top: 20px;
   cursor: pointer;
}

.sec-3 .para-1{
    height: 150px;
    padding: 50px;
    background-color: #C2E0F2;
    opacity: 0.6;
}

.sec-4{
    display: flex;
}

.sec-4 .para-2,.sec-4 .para-3{
    
}